@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsl(var(--ac));
}
.App {
  max-width: 100%;
  margin: auto;
  min-height: 100vh;

}
.content {
  min-width: 70%;
  margin: auto;
}

@media screen and (max-width: 640px){
  .content {
    min-width: 100%
  }
}
.row {
  display: flex;
  
}

